In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("311_Service_Requests_from_2010_to_Present_min.csv")
df1 = df.sample(frac = 0.2)
df1.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
4866089,4866089,37019932,08/24/2017 12:16:02 PM,08/29/2017 04:38:21 PM,ELEVATOR,RESIDENTIAL BUILDING,11415.0,84-15 AUSTIN STREET,AUSTIN STREET,ADDRESS,Kew Gardens,Closed,The Department of Housing Preservation and Dev...,QUEENS,40.707740,-73.827876
1312316,1312316,21100217,08/24/2011 12:00:00 AM,09/12/2011 12:00:00 AM,GENERAL CONSTRUCTION,RESIDENTIAL BUILDING,11212.0,549 HERZL STREET,HERZL STREET,ADDRESS,BROOKLYN,Closed,The Department of Housing Preservation and Dev...,BROOKLYN,40.656258,-73.912161
1701142,1701142,22780218,02/26/2012 12:00:00 AM,03/01/2012 12:00:00 AM,HEATING,RESIDENTIAL BUILDING,11216.0,660 LAFAYETTE AVENUE,LAFAYETTE AVENUE,ADDRESS,BROOKLYN,Closed,More than one complaint was received for this ...,BROOKLYN,40.690298,-73.947765
4017199,4017199,32598394,02/04/2016 10:14:03 AM,02/10/2016 09:14:45 AM,FLOORING/STAIRS,RESIDENTIAL BUILDING,10467.0,3450 GATES PLACE,GATES PLACE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.883080,-73.883408
3543067,3543067,30357707,04/08/2015 12:00:00 AM,04/16/2015 12:00:00 AM,PLUMBING,RESIDENTIAL BUILDING,10305.0,264 EDGEWATER STREET,EDGEWATER STREET,ADDRESS,STATEN ISLAND,Closed,The Department of Housing Preservation and Dev...,STATEN ISLAND,40.616468,-74.064305

In [3]:
print(df.shape)
print(df1.shape)

(6019843, 16)
(1203969, 16)

In [4]:
df1.columns = df.columns.str.replace(' ', '_')

In [5]:
df1.columns

Index(['Unnamed:_0', 'Unique_Key', 'Created_Date', 'Closed_Date',
       'Complaint_Type', 'Location_Type', 'Incident_Zip', 'Incident_Address',
       'Street_Name', 'Address_Type', 'City', 'Status',
       'Resolution_Description', 'Borough', 'Latitude', 'Longitude'],
      dtype='object')

In [6]:
Complaint_TypeX = df1.Complaint_Type.unique()
print(Complaint_TypeX )

['ELEVATOR' 'GENERAL CONSTRUCTION' 'HEATING' 'FLOORING/STAIRS' 'PLUMBING'
 'HEAT/HOT WATER' 'UNSANITARY CONDITION' 'WATER LEAK' 'SAFETY'
 'PAINT - PLASTER' 'APPLIANCE' 'NONCONST' 'GENERAL' 'DOOR/WINDOW'
 'PAINT/PLASTER' 'ELECTRIC' 'HPD Literature Request' 'OUTSIDE BUILDING'
 'Unsanitary Condition' 'CONSTRUCTION' 'General' 'Safety' 'STRUCTURAL'
 'Plumbing' 'AGENCY' 'Appliance' 'VACANT APARTMENT' 'Outside Building']

In [7]:
for i in Complaint_TypeX:
    Complaint_count = df1.Complaint_Type.value_counts()[i]
    if Complaint_count>800000*0.2: 
        print(i , Complaint_count)

HEATING 177485
HEAT/HOT WATER 252055

In [8]:
df1.set_index('Complaint_Type' , inplace = True )

In [9]:
df1.head()

,Unnamed:_0,Unique_Key,Created_Date,Closed_Date,Location_Type,Incident_Zip,Incident_Address,Street_Name,Address_Type,City,Status,Resolution_Description,Borough,Latitude,Longitude
Complaint_Type,,,,,,,,,,,,,,,
ELEVATOR,4866089,37019932,08/24/2017 12:16:02 PM,08/29/2017 04:38:21 PM,RESIDENTIAL BUILDING,11415.0,84-15 AUSTIN STREET,AUSTIN STREET,ADDRESS,Kew Gardens,Closed,The Department of Housing Preservation and Dev...,QUEENS,40.707740,-73.827876
GENERAL CONSTRUCTION,1312316,21100217,08/24/2011 12:00:00 AM,09/12/2011 12:00:00 AM,RESIDENTIAL BUILDING,11212.0,549 HERZL STREET,HERZL STREET,ADDRESS,BROOKLYN,Closed,The Department of Housing Preservation and Dev...,BROOKLYN,40.656258,-73.912161
HEATING,1701142,22780218,02/26/2012 12:00:00 AM,03/01/2012 12:00:00 AM,RESIDENTIAL BUILDING,11216.0,660 LAFAYETTE AVENUE,LAFAYETTE AVENUE,ADDRESS,BROOKLYN,Closed,More than one complaint was received for this ...,BROOKLYN,40.690298,-73.947765
FLOORING/STAIRS,4017199,32598394,02/04/2016 10:14:03 AM,02/10/2016 09:14:45 AM,RESIDENTIAL BUILDING,10467.0,3450 GATES PLACE,GATES PLACE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.883080,-73.883408
PLUMBING,3543067,30357707,04/08/2015 12:00:00 AM,04/16/2015 12:00:00 AM,RESIDENTIAL BUILDING,10305.0,264 EDGEWATER STREET,EDGEWATER STREET,ADDRESS,STATEN ISLAND,Closed,The Department of Housing Preservation and Dev...,STATEN ISLAND,40.616468,-74.064305

In [10]:
df_BR = df1.loc[['HEAT/HOT WATER','HEATING']]

In [11]:
df_BR.head()

,Unnamed:_0,Unique_Key,Created_Date,Closed_Date,Location_Type,Incident_Zip,Incident_Address,Street_Name,Address_Type,City,Status,Resolution_Description,Borough,Latitude,Longitude
Complaint_Type,,,,,,,,,,,,,,,
HEAT/HOT WATER,3981103,32453269,01/19/2016 12:00:46 PM,01/20/2016 09:16:44 PM,RESIDENTIAL BUILDING,11216.0,29 BREVOORT PLACE,BREVOORT PLACE,ADDRESS,BROOKLYN,Closed,The Department of Housing Preservation and Dev...,BROOKLYN,40.680101,-73.954205
HEAT/HOT WATER,82746,45237224,12/24/2019 04:18:50 PM,12/24/2019 05:48:23 PM,RESIDENTIAL BUILDING,10466.0,3978 AMUNDSON AVENUE,AMUNDSON AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.890823,-73.836180
HEAT/HOT WATER,3453902,30000617,02/20/2015 12:00:00 AM,02/24/2015 12:00:00 AM,RESIDENTIAL BUILDING,10031.0,710 RIVERSIDE DRIVE,RIVERSIDE DRIVE,ADDRESS,NEW YORK,Closed,The Department of Housing Preservation and Dev...,MANHATTAN,40.829019,-73.950326
HEAT/HOT WATER,3786982,31783858,10/18/2015 01:01:38 PM,10/21/2015 04:25:02 PM,RESIDENTIAL BUILDING,10459.0,951 HOE AVENUE,HOE AVENUE,ADDRESS,BRONX,Closed,The complaint you filed is a duplicate of a co...,BRONX,40.822088,-73.890340
HEAT/HOT WATER,5023358,37881013,12/07/2017 02:10:37 AM,12/12/2017 11:28:19 AM,RESIDENTIAL BUILDING,11226.0,370 EAST 31 STREET,EAST 31 STREET,ADDRESS,BROOKLYN,Closed,The complaint you filed is a duplicate of a co...,BROOKLYN,40.641809,-73.947640

In [12]:
df_BR.Borough.dropna()
Borough_TypeX = df_BR.Borough.unique()

In [13]:
Borough_order = df_BR.Borough.value_counts()[Borough_TypeX]
Borough_order.sort_values(ascending=False)

BRONX            120995
BROOKLYN         115226
MANHATTAN         84448
Unspecified       56507
QUEENS            48718
STATEN ISLAND      3646
Name: Borough, dtype: int64

In [14]:
df_BR.Incident_Zip.dropna(inplace = True)
ZIP_TypeX = df_BR.Incident_Zip.unique()

In [15]:
Count = 0
for i in ZIP_TypeX:
    Count = df_BR.Incident_Zip.value_counts(ascending=False)[i]
    if  i == (11226 or 10466 or 10030 or 10045 or 11415):
        print(i, Count)

11226.0 13845

In [16]:
df_BR.Incident_Address.dropna(inplace = True)
Address_TypeX = df_BR.Incident_Address.unique()

In [17]:
df_BR.Incident_Address.value_counts()[Address_TypeX]

29 BREVOORT PLACE        4
3978 AMUNDSON AVENUE     5
710 RIVERSIDE DRIVE      6
951 HOE AVENUE          30
370 EAST   31 STREET    14
                        ..
3709 ATLANTIC AVENUE     1
1206 FLATBUSH AVENUE     1
632 ROCKAWAY PARKWAY     1
941 FTELEY AVENUE        1
527 WEST 143 STREET      1
Name: Incident_Address, Length: 73954, dtype: int64

In [18]:
Status_TypeX = df_BR.Status.unique()
Status_TypeX

array(['Closed', 'Open'], dtype=object)

In [19]:
df_BR.Status.value_counts()[Status_TypeX]

Closed    426326
Open        3214
Name: Status, dtype: int64

In [20]:
df_Bx = pd.read_csv("PLuto/BX_18v1.csv")
df_Bx1 = df_Bx.sample(frac = 0.2)
df_Bx1.head()
df_Bx1.shape

C:\Users\ET USER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(17971, 87)

In [21]:
df_Bx1.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [22]:
df_Bxnew = df_Bx1[['Address', 'BldgArea', 'BldgDepth', 'BuiltFAR', 'CommFAR', 'FacilFAR', 'Lot', 'LotArea', 'LotDepth', 'NumBldgs', 'NumFloors', 'OfficeArea', 'ResArea', 'ResidFAR', 'RetailArea', 'YearBuilt', 'YearAlter1', 'ZipCode', 'YCoord', 'XCoord']]

In [23]:
df_Bxnew.head()

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord
50984,2548 YOUNG AVENUE,1982,40.0,0.62,0.0,2.0,29,3200,100.00,1,1.5,0,1220,0.90,0,1955,0,10469.0,254108.0,1026328.0
88532,5627 DELAFIELD AVENUE,1480,25.0,0.30,0.0,1.0,165,5000,100.00,2,2.0,0,1480,0.60,0,1920,0,10471.0,268945.0,1010787.0
59030,1042 EAST 220 STREET,1782,33.0,0.90,0.0,2.0,44,1971,109.50,1,3.0,0,1782,0.90,0,1955,0,10469.0,260266.0,1024967.0
31675,1833 STORY AVENUE,2310,55.0,1.33,0.0,4.8,32,1743,83.00,1,2.0,0,2310,2.43,0,1993,0,10473.0,239451.0,1022092.0
36720,2337 WATERBURY AVENUE,140947,200.0,0.94,2.0,4.8,70,150553,392.34,1,4.0,0,0,0.00,0,2001,0,10462.0,243660.0,1026741.0

In [24]:
Bx_add = df_Bxnew.Address.unique()

In [25]:
common = []
for i in Address_TypeX:
    for j in Bx_add:
        if i == j:
            common.append(i)

In [26]:
df_Bxnew.shape

(17971, 20)

In [27]:
len(common)

2380

In [28]:
Address_list = df_Bxnew.Address.tolist()
len(Address_list)

17971

In [66]:
Register_complaint = [0]*15590
len(Register_complaint)
for i,k in zip(Address_list,range(17971)):
    for j in common:
        if i == j:
            Register_complaint.insert(k, 1)

In [67]:
len(Register_complaint)

17971

In [68]:
df_Bxnew.shape

(17971, 20)

In [69]:
df_Bxnew['Complaint'] = Register_complaint

C:\Users\ET USER\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
df_Bxnew.head()

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,...,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord,Complaint
50984,2548 YOUNG AVENUE,1982,40.0,0.62,0.0,2.0,29,3200,100.00,1,...,0,1220,0.90,0,1955,0,10469.0,254108.0,1026328.0,0
88532,5627 DELAFIELD AVENUE,1480,25.0,0.30,0.0,1.0,165,5000,100.00,2,...,0,1480,0.60,0,1920,0,10471.0,268945.0,1010787.0,0
59030,1042 EAST 220 STREET,1782,33.0,0.90,0.0,2.0,44,1971,109.50,1,...,0,1782,0.90,0,1955,0,10469.0,260266.0,1024967.0,0
31675,1833 STORY AVENUE,2310,55.0,1.33,0.0,4.8,32,1743,83.00,1,...,0,2310,2.43,0,1993,0,10473.0,239451.0,1022092.0,0
36720,2337 WATERBURY AVENUE,140947,200.0,0.94,2.0,4.8,70,150553,392.34,1,...,0,0,0.00,0,2001,0,10462.0,243660.0,1026741.0,0

In [91]:
df_Bxnew.columns

Index(['Address', 'BldgArea', 'BldgDepth', 'BuiltFAR', 'CommFAR', 'FacilFAR',
       'Lot', 'LotArea', 'LotDepth', 'NumBldgs', 'NumFloors', 'OfficeArea',
       'ResArea', 'ResidFAR', 'RetailArea', 'YearBuilt', 'YearAlter1',
       'ZipCode', 'YCoord', 'XCoord', 'Complaint'],
      dtype='object')

In [92]:
df_bldg = df_Bxnew[['BldgArea','BldgDepth','NumBldgs','NumFloors','ResArea','RetailArea','YearBuilt','Complaint']]

In [93]:
df_bldg.head()

,BldgArea,BldgDepth,NumBldgs,NumFloors,ResArea,RetailArea,YearBuilt,Complaint
50984,1982,40.0,1,1.5,1220,0,1955,0
88532,1480,25.0,2,2.0,1480,0,1920,0
59030,1782,33.0,1,3.0,1782,0,1955,0
31675,2310,55.0,1,2.0,2310,0,1993,0
36720,140947,200.0,1,4.0,0,0,2001,0

In [98]:
X = np.asarray(df_bldg[['BldgArea', 'BldgDepth', 'NumFloors', 'ResArea', 'RetailArea', 'YearBuilt']])
X[0:5]

array([[1.98200e+03, 4.00000e+01, 1.50000e+00, 1.22000e+03, 0.00000e+00,
        1.95500e+03],
       [1.48000e+03, 2.50000e+01, 2.00000e+00, 1.48000e+03, 0.00000e+00,
        1.92000e+03],
       [1.78200e+03, 3.30000e+01, 3.00000e+00, 1.78200e+03, 0.00000e+00,
        1.95500e+03],
       [2.31000e+03, 5.50000e+01, 2.00000e+00, 2.31000e+03, 0.00000e+00,
        1.99300e+03],
       [1.40947e+05, 2.00000e+02, 4.00000e+00, 0.00000e+00, 0.00000e+00,
        2.00100e+03]])

In [99]:
Y = np.asarray(df_bldg[['Complaint']])
Y[0:5]

array([[0],
       [0],
       [0],
       [0],
       [0]], dtype=int64)

In [101]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[-0.11113993, -0.27329059, -0.52320774, -0.13861692, -0.09196098,
         0.29719129],
       [-0.12029779, -0.76355552, -0.18663851, -0.13038046, -0.09196098,
         0.22675297],
       [-0.11478848, -0.50208089,  0.48649995, -0.1208135 , -0.09196098,
         0.29719129],
       [-0.10515631,  0.21697435, -0.18663851, -0.10408715, -0.09196098,
         0.37366718],
       [ 2.4239636 ,  4.95620205,  1.15963841, -0.17726493, -0.09196098,
         0.38976737]])

In [103]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (14376, 6) (14376, 1)
Test set: (3595, 6) (3595, 1)

In [104]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)#C parameter indicates inverse of regularization strength which must be a positive float. Smaller values specify stronger regularization(to reduce overfitting problem)
LR

C:\Users\ET USER\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [105]:
yhat = LR.predict(X_test)
yhat

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [106]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat)

C:\Users\ET USER\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

0.8998609179415855

In [110]:
var = '1234567'
print(var[1::2])

246

In [108]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [112]:
Name="Michael Jackson"
Name.find('el')

5

In [113]:
A=[1,'a']
B=[2,1,'d']
A+B

[1, 'a', 2, 1, 'd']

In [115]:
V={'A','B'}
V.add('c')

In [116]:
V

{'A', 'B', 'c'}

In [117]:
V.add('c')
V

{'A', 'B', 'c'}